/* PX to REM */
/* Color */
/* Filter Color */
/* Wishlist */
/* Media Query */
/**
 * Media Querys
 *
 * Use : @media only screen and (max-width: mediaquery({key}))
 */
/**
 * Colors
 *
 * Use : color({key})
 */
/**
 * Filter Color
 *
 * Use : filterColor({key})
 */
/**
 * Wishlist
 *
 * Use : wishlist({key})
 */
._BA_comparisonArea {
  display: block;
  position: relative;
  overflow: hidden; }

._BA_comparisonArea.hasHorizontalSlice {
  cursor: ns-resize; }

._BA_afterElement,
._BA_beforeElement {
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0; }

._BA_beforeElement {
  position: absolute !important; }

._BA_slice {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: auto; }

._BA_comparisonArea.hasHorizontalSlice ._BA_slice {
  width: 100%;
  height: 5px;
  top: auto;
  left: 0;
  margin-top: -1px;
  z-index: 2; }

._BA_comparisonArea.hasHorizontalSlice ._BA_slice::before, ._BA_comparisonArea.hasHorizontalSlice ._BA_slice::after {
  content: " ";
  height: 100%;
  background-color: #afca0b;
  position: absolute;
  -webkit-box-shadow: -2px 0 0 #afca0b, 0 0 12px rgba(51, 51, 51, 0.5);
  box-shadow: -2px 0 0 #afca0b, 0 0 12px rgba(51, 51, 51, 0.5);
  width: calc(50% - 18px); }

._BA_comparisonArea.hasHorizontalSlice ._BA_slice::before {
  left: 0; }

._BA_comparisonArea.hasHorizontalSlice ._BA_slice::after {
  right: 0; }

._BA_handle {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 38px;
  width: 38px;
  position: absolute;
  left: 50%;
  border: 3px solid #afca0b;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  z-index: 3;
  cursor: pointer; }

._BA_handle::before, ._BA_handle::after {
  content: " ";
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
  left: 50%;
  margin-left: -6px; }

._BA_handle::before {
  border-bottom: 6px solid #afca0b;
  top: 50%;
  margin-top: -17px; }

._BA_handle::after {
  border-top: 6px solid #afca0b;
  bottom: 50%;
  margin-bottom: -17px; }

._BA_label {
  position: absolute;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: bold;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 1px;
  top: 48%;
  padding: 4px;
  border-radius: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); }

._BA_comparisonArea.hasHorizontalSlice ._BA_label {
  margin-left: auto;
  margin-right: auto; }

._BA_label-left {
  left: 10px; }

._BA_comparisonArea.hasHorizontalSlice ._BA_label-left {
  top: auto;
  bottom: 10px; }

._BA_label-right {
  right: 10px; }

._BA_comparisonArea.hasHorizontalSlice ._BA_label-right {
  top: 10px; }

.vb-FP_ZoneDetailsDelivery {
  display: none;
  z-index: 99; }

.vb-FP_ZoneDetailsDelivery:before {
  background: rgba(51, 51, 51, 0.2);
  content: '';
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100; }

.vb-FP_ZoneDetailsDelivery .memo_chko_popup {
  display: block;
  width: 31.25rem;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding-top: 5.625rem; }

@media only screen and (max-width: 48rem) {
  .vb-FP_ZoneDetailsDelivery .memo_chko_popup {
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0;
    width: 100%; } }

.vb-FP_ZoneDetailsDelivery .close {
  background: none;
  width: 1.5625rem;
  height: 1.5625rem;
  right: auto;
  left: 0.625rem;
  color: #999999;
  font-size: 1.5rem;
  width: 50px;
  display: block;
  text-align: center; }

.vb-FP_ZoneDetailsDelivery .close:after {
  content: 'Fermer';
  font-size: 0.6875rem;
  color: #333333;
  display: block; }

.vb-FP_ZoneDetailsDelivery .FP_ZoneDetailsDelivery_titre {
  display: block;
  font-size: 1.375rem;
  font-weight: 500;
  text-align: center;
  color: #333333; }

.vb-FP_ZoneDetailsDelivery .FP_ZoneDetailsDelivery_intro {
  background-color: #FAFAFA;
  padding: 1.25rem 3.125rem;
  margin-top: 1.25rem; }

.vb-FP_ZoneDetailsDelivery .FP_ZoneDetailsDelivery_intro h3 {
  font-size: 0.875rem;
  font-weight: 500;
  color: #333333; }

.vb-FP_ZoneDetailsDelivery .FP_ZoneDetailsDelivery_intro .details {
  border-top: 1px solid #979797;
  margin: 1.25rem 0; }

.vb-FP_ZoneDetailsDelivery .FP_ZoneDetailsDelivery_intro .details .subtitle {
  font-size: 0.875rem;
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 25px; }

.vb-FP_ZoneDetailsDelivery .FP_ZoneDetailsDelivery_intro ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80%;
  margin: 0 auto; }

.vb-FP_ZoneDetailsDelivery .FP_ZoneDetailsDelivery_intro ul li {
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: 0.9375rem; }

.vb-FP_ZoneDetailsDelivery .FP_ZoneDetailsDelivery_intro ul li img {
  display: block;
  margin: 0.3125rem auto; }

.vb-FP_ZoneDetailsDelivery .FP_ZoneDetailsDelivery_intro ul li .price {
  display: block;
  text-align: center;
  background-color: #afca0b;
  margin: 0 auto;
  width: 70px;
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 14px;
  color: #fff;
  font-weight: bold; }

.vb-FP_ZoneDetailsDelivery .FP_ZoneDetailsDelivery_intro ul li.noclub .price {
  background-color: #e65564; }

.vb-FP_ZoneDetailsDelivery .FP_ZoneDetailsDelivery_intro ul li.calendar, .vb-FP_ZoneDetailsDelivery .FP_ZoneDetailsDelivery_intro ul li.time, .vb-FP_ZoneDetailsDelivery .FP_ZoneDetailsDelivery_intro ul li.delivery, .vb-FP_ZoneDetailsDelivery .FP_ZoneDetailsDelivery_intro ul li.message {
  font-size: 0.75rem;
  width: 7.8125rem;
  text-align: left; }
